/*body{
	font-family: 'Lato', sans-serif;
}*/
img{
	max-width: 100%;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 50px;
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
.se-gris{
background-color: #eee;
}
.vete-arriba{
	vertical-align: top;
}
.mediano{
	font-size: 1.2em;
}
.mediano-2{
	font-size: 2em;
}
.padding-laargo{
	padding: 5px 10px;
}
.grande{
	font-size: 4em;
}
.verde{
	color: #00887C;
	text-shadow: 5px 5px 6px rgba(0,0,0,0.5);
}
.azul-amarillo{
	color: #0A00D3;
	text-shadow: 4px 4px 5px rgba(255,255,20,5.1);
}
.azul-naranja{
	color: #0A00D3;
	text-shadow: 4px 4px 5px rgba(255,84,24,5.1);
}
.negro-blanco{
	color: #000000;
	text-shadow: 4px 4px 5px rgba(255,255,255,5.1);
}
.negro-azul{
	color: #000000;
	text-shadow: 4px 4px 5px rgba(57,156,15,5.1);
}
.retraso-1{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.retraso-2{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.no-lista li{
	list-style-type: none;
}
.espacio-derecha{
	margin-right: 1em;
}
a,.azul{
	color: #009FFF;
	text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}
.mas-opaco{
	opacity: 0.5;
}